body {
    background-color: #f6f6f6 !important;
    color: #333;
    height:auto;
    font-size: 14px;
}

.clearfix {
    overflow:auto;
    zoom:1;
}

.l {
    float: left;
}

.r {
    float: right;
}

li {
    list-style-type: none;
}

.main-header {
    height: 70px;
    line-height: 70px;
    font-size: 18px;
    color: #fff;
    background-color: #1976d2;
    text-align: center;
    position: relative;
    border-top: 1px solid #1970c6;
}

.main-container {
    width: 92%;
    margin: 10px auto 0;
}

.goods-add-info {
    position: relative;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
}

.goods-add-input {
    display: inline-block;
    width: 80%;
    height: 48px;
    border: 0;
    margin-left: 10px;
    padding-left: 10px;
}

.wrap {
    background-color: #fff;
}

.save-change {
    position: fixed;
    bottom: 10px;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background-color: #1976d2;
    color: #fff;
    border-radius: 100px;
    margin:0 auto;
    left:0;
    right:0;

}